<h1>犬派か猫派の総選挙</h1>
<h3>あなたはどっち派？</h3>
<%= form_tag("/vote", method: :post) %>
  <table border="1" width="320">
    <tr align="center">
      <td>派閥</td><td>投票数</td><td>選択</td>
    </tr>
    <%= for entry <- @entrys do %>
      <tr align="center">
        <td><%= entry.name %></td><td><%= entry.count %></td>
        <td><input type="radio" name="id" value="<%= entry.id %>"></td>
      </tr>
    <% end %>
  </table>
  <input type="submit" value="投票する">
</form>
